body{
    margin:0;
    padding:0;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    cursor: url('CGC.cur'),pointer;
    background-color: white;
}

a{
    color:inherit;
}
#particles-js{
    height: 100vh;
    background:black;
}
#home{
}
/* START OF NAVBAR */
.navbar{
    position: absolute;
    background-color: #100F0F;
    opacity: 0.7;
    transition: width 200ms ease;
    position: fixed;
}
.nav-link{
    color: white;
    font-size: 2.2rem;
    display: flex;
    height: 5rem;
    text-decoration: none;
    align-items: center;
}


.link-text{
    font-size: 1rem;
    display: none;
    margin-left: 1rem;
    color:white;
}

.nav-item{
    margin:1rem;
}
.nav-item:last-child{
    margin-top:auto;
}
.navbar-nav{
    list-style: none;
    margin:0;
    padding:0;
    display:flex;
    flex-direction: column;
    height: 100%;
}


 @media only screen and (max-width:600px){

    .navbar{
        bottom:0;
        width: 100vw;
        height: 4rem;
        overflow: hidden;
    }
    .navbar-nav{
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .nav-link{
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
    }
    .nav-item:last-child{
        display: none;
    }

 }
 @media only screen and (min-width:600px){
    .navbar{
        width: 5rem;
        height: 100vh;
    }

    .nav-link{
        filter:grayscale(100%); opacity:(0.4);
        transition: all 0.5s;
    }
    .nav-link:hover{
        filter:grayscale(0%) opacity(1);
        background: grey;
        color:#FFC23C;
     }
     .navbar:hover .link-text{
        display: block;
    }.navbar:hover{
        width: 13rem;
    }
    .nav-item:last-child:hover .nav-link{
        filter:none;
        background:transparent;
        color:white;
    }
 }
/* END OF NAVBAR */

/* START OF INTRO */
.intro{
    text-align: center;
    padding-top: 7%;
    position: absolute;
    left:50%;
    transform: translate(-50%,0);
}
.intro img{
    width: 45%;
    transform: scaleX();
}

.intro h1{
    color:white;
    font-size: 3rem;
    font-family: 'Trispace', sans-serif;
    animation-name:glow;
    animation-duration:1s;
    animation-iteration-count:infinite;
    animation-direction:alternate;
}

.intro h3{
    color:white;
    font-family: 'Silkscreen', cursive;
    font-size: 1.3rem;

}
@keyframes glow{
    from{text-shadow:0px 0px 5px #fff,0px 0px 2px #614ad3;}
    to{text-shadow:0px 0px 20px #fff,0px 0px 10px #614ad3;}
}

.social{
    color:white;
}
.social i{
    font-size: 2.1rem;
    border-width:2px;
    border-color: white;
    border-style: solid;
    padding: 0.7rem;
    border-radius: 100%;
    margin: 1rem;
}
@media only screen and (max-width:600px){
    .intro{
    }
    .social{
        display: none;
    }
    .intro h1{
        font-size: 3rem;
    }
    .intro h3{
        font-size: 1rem;
    }
    .intro img{
        width: 70%;
    }
    body, html {
        overflow-x: hidden;
        }
}
.social i:hover{
    transform: rotate(360deg);
    color:#FFC23C;
    transition: transform 1s,color 1.5s;
    cursor: url('hand.cur'),pointer;

}
.intro button{
    margin-top: 1.3rem;
    border: none;
    background: transparent;
    color:white;
    border: solid;
    border-color: white;
    border-radius: 10px;
    font-size: 1.2rem;
    padding: 0.5rem;
    cursor: url('hand.cur'),pointer;
}
.intro button:hover{
    background-color:#FEDB39 ;
    transform: translateY(-5px);
    color:black;
    transition:all 0.5s;

}
.fa-download{
    margin-right:10px;
}
/* END OF INTRO */

/* START OF ABOUT */
#about-section{
    background-color: black;
    color:white;
}
#about-section hr{
    background-color: #FFC23C;
    border: solid;
    border-color: #FFC23C;
    border-radius: 100%;
    width: 100%;
    opacity: 0.4;

}
.about-container{
    padding:9rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-container h1{
    text-align: left;
    font-size: 2.5rem;
    font-family: 'Silkscreen', cursive;
}
.about-container p{
    font-size: 1.4rem;
}
.about-container img{
    width: 110%;
}
#about-section hr{
    width: 100%;
}
@media only screen and (max-width:600px){
    .about-container{
        padding: 1rem;
        flex-direction: column;
        text-align: center;
    }
    .about-container h1{
        margin: 0;;
        text-align: center;
        font-size: 2rem;
    }
    .about-container p{
        font-size:1rem;
    }
    #about-section hr{
        width: 50%;
    }
}
/* END OF ABOUT SECTION */

/* START OF PORTFOLIO */

#portfolio{
    /* height: 70rem; */
    background-size: cover;
    background-repeat: no-repeat;
}
.portfolio{
    background: url(../images/space.jpg);
}
.alt-portfolio{
    background: url(../images/Scene-18.jpg);
}
.work-container{
    padding: 8rem;
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    color:white;
}
.work-container h1{
    margin:0;
    font-size: 3rem;
    font-family: 'Silkscreen', cursive;
    color:white;
    text-align: center;
}
.work-container hr{
    background-color: #FFC23C;
    border: solid;
    border-color: #FFC23C;
    border-radius: 100%;
    width: 40%;
    opacity: 0.4;
    margin-bottom:8rem

}
.row{
    display: flex;
    /* align-items: center; */
    justify-content: space-evenly;
}
.row h1{
    font-family: 'Trispace', sans-serif;
    text-align: left;
}
.row p{
    font-size: 1.2rem;
}
.card{
    margin-bottom: 8rem;
    
}
.source {
    font-size: 2rem;
    margin-top:0.6rem;
    display:none;
}

.card img{
    width: 100%;
}
.col{
    width: 60%;
    margin-left: 6rem;
}

/* FOR PHONES */
@media only screen and (max-width:600px){
    .work-container{
        padding: 1rem;
    }
    .work-container h1{
        font-size: 1.8rem;
    }
    .row p{
        font-size: 1rem;
        margin-bottom: 3rem;
    }
    .row{
        display: flex;
        flex-direction: column;
    }
    .row-2{
        flex-direction: column-reverse;
    }
    .work-container hr{
        margin-bottom: 4rem;
    }
    .col{
        width: 100%;
        margin-left: 0rem;
    }
    .col h1{
        font-size: 1.5rem;
    }
    .card{
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;
    }
    .card img{
        width: 100%;
    }


}

/* FOR SMALL LAPTOPS */
@media screen and (min-width: 650px) and (max-width: 1200px) { 
    .col p{
        font-size: 1rem;
    }
    .col h1{
        font-size:1.5rem
    }
    .work-container{
        padding: 5rem;
    }
        
}

/* FOR NORMAL LAPTOPS */
@media only screen and (min-width:600px){
    .card:hover{
        height: 17rem;;
        border:solid;
        border-color:white;
        border-width: 1px;
        background-color:rgba(0, 0, 0, 0.7);
        box-shadow: 1rem -0.3rem 4rem #fff;

    }
    .source a:hover{
        color:#FFC23C;
    }
    .card:hover .source{
        display: block;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .card{
        height: 17rem;
        width: 25rem;

    }
}
/* END OF PROJECTS SECTION */
#skill-section{
    background-color: black;
    padding: 8rem;

}
.skill{
    color:white;
    list-style: none;
}
#skill-section h1{
    text-align: center;
    color:white;
    font-size: 3rem;
    font-family: 'Silkscreen', cursive;
}
#skill-section hr{
    background-color: #FFC23C;
    border: solid;
    border-color: #FFC23C;
    border-radius: 100%;
    width: 40%;
    opacity: 0.4;
    margin-bottom:8rem

}
.skill-container h3{
    margin:5px;
}
.skill{
    width: 1800px;
    padding:20px;
    box-shadow: 0 14px 20px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.skill li{
    margin:20px 0;
    padding: 10px;
}
.bar{
    background: #353b48;
    display: block;
    height: 20px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0,0,0,0.25),0 1px 2px rgba(0, 0, 0, 0.24);
}
.bar:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.12),0 10px 10px rgba(0, 0, 0, 0.22);
}
.bar span{
    height: 20px;
    float: left;
    background: linear-gradient(135deg,rgba(236,0,140,1)0%,rgba(252,103,103,1)100%);
}
.html{
    width: 90%;
    animation: html 3s;
}
.css{
    width: 80%;
    animation: css 3s;
}
.javascript{
    width: 70%;
    animation: javascript 3s;
}
.node_js{
    width: 72%;
    animation:  node_js 3s;
}
.express{
    width: 60%;
    animation:  express 3s;
}
.mongo{
    width: 50%;
    animation:  mongo 3s;
}
.skill-container{
    display: flex;
    align-items: center;
}
.skill-img{
    display: flex;
    align-items: center;
    justify-content: flex-end
}

#skill-section img{
    width: 70%;
}

@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}
@keyframes css{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}
@keyframes javascript{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}
@keyframes node_js{
    0%{
        width: 0%;
    }
    100%{
        width: 72%;
    }
}
@keyframes express{
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}
@keyframes mongo{
    0%{
        width: 0%;
    }
    100%{
        width: 50%;
    }
}
@media only screen and (max-width:600px){
    #skill-section{
        padding: 0rem;
        margin-top:-2.5rem;
    }
    #skill-section h1{
        font-size: 2rem;
    }
    .skill-container{
        flex-direction: column;
    }
    .skill{
        width: 100%;
        padding:10px;
        box-shadow: 0 14px 20px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
    #skill-section hr{
        margin-bottom: 1rem;
    }
    .skill-container img{
        display: none;
    }
}

.light{
    color:black !important;
}
/* END OF SKILLS SECTION */
#certificates-section{
    background: url(../images/ocen-bg.jpg);
    background-size: cover;
}
#certificates-section hr{
    background-color: #FFC23C;
    border: solid;
    border-color: #FFC23C;
    border-radius: 100%;
    width: 40%;
    opacity: 0.4;
    margin-bottom:8rem

}
.certificate-container{
    background: rgba(0, 0, 0,0.5);
    height: 100%;
    padding: 8rem;
    color:white;

}
.certificate-container h1{
    font-size: 3rem;
    color:white;
    font-family: 'Silkscreen', cursive;
    text-align: center ;
}
.certificate-row{
    display: flex;
    justify-content: space-evenly
}
.certificate-card{
    padding: 1rem;
    width: 20rem;
    background: rgba(0, 0, 0, 0.7);
    height: 20rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.5s,box-shadow 0.7s;
}
.certificate-card p{
    text-align: left;
    margin-top:2rem
}
.certificate-card a{
    font-size: 1.5rem;
    margin-top: auto;
}
.certificate-card i:hover{
    transition: all 0.5s ease;
    color: #FFC23C;
}
.certificate-card img{
    width: 70%;
    display: flex;
}
.certificate-card:hover{
    transform: scale(1.1);
    box-shadow: 1rem 1rem #000;
}
@media only screen and (max-width:600px){
    .certificate-container{
        padding:0rem;
    }
    .certificate-row{
        flex-direction: column;
        align-items: center;
    }
    .certificate-container h1{
        font-size: 2rem;
    }
    .certificate-card{
        width: 15rem;
        margin-bottom: 1.5rem;

    }
}