body{
    background-color: #11052c;
}

#title{

}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(#C32BAD,#610094);
    border-radius:20px;
}
html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.lightbulb{
    position: absolute;
    color:white;
    top:150px;
    left:1350px;
    opacity: 0.5;
}

.row{
    text-align: center;
    margin-top:65px;
}
.asad-photo{
    margin-top:50px;
    width:60%;
}
.emoji{
    position: relative;
    overflow: hidden;
    display: inline-block;
    animation: waving-hand 2.5s infinite;
    font-size: 40px;
    top:10px;
}

@keyframes waving-hand{
    0%{
        transform:rotate(0deg) ;
    }
    10%{
        transform:rotate(14deg);
    }
    20%{
        transform:rotate(-8deg);
    }
    30%{
        transform:rotate(14deg);
    }
    40%{
        transform:rotate(-4deg);
    }
    50%{
        transform:rotate(10deg);
    }
    60%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(0deg);
    }
}


.Hey{
    margin-left:-340Px;
    font-size:40px ;
    margin-top: 100px;
    color:white;
    font-family: 'Montserrat', sans-serif;
}

.Name{
    font-size: 100px;
    color:white;
    margin:0px;
    font-family: 'Roboto', sans-serif;
}
.type{
    margin-left:-10px;

    font-size:50px;
    color:white;
    font-family: 'Montserrat', sans-serif;

}
.work{
    font-size:50px ;
    color:#C32BAD;
    font-family: 'Montserrat', sans-serif;

}



.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.icons{
    text-align: center;
    color:white;
    margin-top:45px;
}
.icon{
    color:white;
    margin:0 20px 0 20px;
}


.icon:hover{
    color:#C32BAD;
    text-shadow: 0 0 15px #3b5998;
    transition: all 0.5s ease;
  }

#about-asad{
    color:white;
  }
hr{
    margin-top:85px;
    background-color:white;
    height:1px;
    width:40%;
}
.about-title{
    font-family: 'Rubik', sans-serif;
    text-align: center;
 }
 #about-asad hr{
 }
.about-para{
    font-family: 'Rubik', sans-serif;
    font-weight: 300;

 }

.about-hey{
    font-size:25px;
}

.about-me-paratitle{
    margin-top:40px;
    font-size:20px;
    margin-left:105px;
}

#projects{
    font-family: 'Rubik', sans-serif;

}

#projects hr{
    margin-top: 150px;
}
.project-title{
    color:white;
    text-align: center;
    font-size:40px;
}
.project-productovo{
    margin-left:350px;
}
.project-funnel{
    margin-left:100px;
}

.card {
    background-color:white;

}


#portfolio{
    color:white;
    font-family: 'Rubik', sans-serif;

}
#portfolio hr{
    margin-top:120px;
}
.portfolio-title{
    color:white;
    text-align: center;
}

#portfolio .card{
    background-color: #3B185F;

}



.img-overlay {
    position: relative;
    width:75%;
  }
  
  .img-overlay-image {
    display: block;
    width: 100%;
    height: auto;
  }

  
  .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0,0,0,.5);
  }

  
  .img-overlay:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

#skill{
    color:white;
    font-family: 'Rubik', sans-serif;
}
.carousel-inner{
    margin-top:55px;
}
.skill-title{
    text-align: center;
}

/* -------------------------------------------(TINDOG)----------------------------------------------------------------- */
.tindog{
    margin-right:160px;
}
.tindog-photo{
    margin-left:30px;
}
/* ---------------------------------------------------------------------------------------------------------------------------- */

/* --------------------------------------------------(STARBUCKS & FOREST)-------------------------------------------------------------- */
.starbucks{
    margin-right:120px;
}
.forest{
    margin-right:125px;
}
/* ----------------------------------------------------------------------------------------------------------------------------- */

.dice{
    margin-left:15px;
}
.simon{
    margin-right:15px;
}

.portfolio-1{
    margin-left:80px;
}

.carousel-control-prev{
    margin-left:200px;
}

.carousel-control-next{
    margin-right:230px;
}

.more{
    margin-top:30px;
    margin-left:760px;
}
.timeline-title{
    text-align: center;
    color:white;
    padding-bottom:60px;
}
.timeline-line{
    margin-top:50px;
}

// RESET
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

#contact{
    text-align: center;
    font-family: 'Rubik', sans-serif;
    color:white;
    background-color: white;
    height:580px;
}

.contact-title{
    font-size: 60px;
    padding-top: 60px;
    text-align: center;
}
.rights{
    margin-top:30px;
    color:black;
    font-family: 'Rubik', sans-serif;
    font-size:15px;

}

.hero-container{
  background-color: #11052C;
  height: 350px;
  width: 100%;
  position: relative;
  clip-path: polygon(
    0 0,
    100% 0, 
    100% 100%,
    0 calc(100% - 5vw)
  );
  z-index: 10;
}
.follow{
    font-family: 'Pacifico', cursive;
    color:#B24080;
}
.follow-title{
    font-size: 47px;;
}
.bottom-icon{
    color:#5C7AEA;
    margin:20px 10px 0px 10px;
}

.reveal{
    position:relative;
    transform:translateY(150px);
    opacity:0;
    transition:all 0.8s ease;
}
@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}
.reveal.active{
    transform:translateY(0px);
    opacity:1;
}

  
@media screen and (max-width: 768px) {
    html{
    }
    .Name{
        font-size: 50px;
    }
    .Hey{
        margin-top: 15px;
        margin-left:25px;
    }
    .type .work{
        font-size: 35px;
    }
    .asad-photo{
        margin-top:5px;
        width:80%;
    }
    .icon{
        margin:0 10px 0 10px;
    }
    .icons{
        margin-top:-10px;
    }
    .about-title{
        font-size:30px;
    }
    .about-para{
        font-size:15px;
        margin-left:-90px;
    }
    .about-hey{
        margin-top:130px;
        margin-left:-90px;
    }
    .card-img-top{
        margin-left: 80px;
        width:50%
    }
    .project-productovo{
        margin-left: 25px;
    }
    .project-funnel{
        margin-top: 15px;;
        margin-left:25px;
    }

    .portfolio-1{
        margin-left:60px;
    }
    .starbucks,.forest{
        font-size: 11px;
        margin-left:50px;
    }
    .tindog{
        font-size: 11px;
        margin-left: 80px;
    }
    .contact-title{
        margin-top:105px;
        font-size:50px;
    }
    .more{
        margin-left:120px;
    }

}


